*.svg

# include only icons we are using
!brands/apple.svg
!light/check.svg
!solid/xmark.svg
!solid/download.svg
!regular/chevron-down.svg
!regular/arrow-left.svg
!regular/bars.svg
!regular/clone.svg
